# General
APP_TITLE = {{ config.app.title }}
APP_FE_PORT = {{ config.app.feport }}
APP_API_PORT = {{ config.app.port }}

# COIN
COIN_NAME = {{ config.coin.name }}
COIN_SYMBOL = {{ config.coin.symbol }}
COIN_CONFIRMATIONS = {{ config.coin.min_confirmations }}
# PoW or PoST
COIN_TYPE = {{ config.coin.type }}
COIN_GITHUB = {{ config.coin.github }}
COIN_TELEGRAM = {{ config.coin.telegram }}
COIN_TWITTER = {{ config.coin.twitter }}
COIN_REDDIT = {{ config.coin.reddit }}
COIN_FACEBOOK = {{ config.coin.facebook }}
COIN_SLACK = {{ config.coin.slack }}
COIN_SITE = {{ config.coin.site }}

# COINGECKO
COINGECKO_SYMBOL = {{ config.coin.coingecko_symbol }}

# RPC
RPC_HOST = {{ config.rpc.host }}
RPC_USERNAME = {{ config.rpc.user }}
RPC_PASSWORD = {{ config.rpc.password }}
RPC_PORT = {{ config.rpc.port }}
RPC_TIMEOUT = 50000

# Database
TYPEORM_CONNECTION = postgres
TYPEORM_HOST = {{ config.db.host }}
TYPEORM_USERNAME = {{ config.db.user }}
TYPEORM_PASSWORD = {{ config.db.password }}
TYPEORM_DATABASE = {{ config.db.database }}
TYPEORM_PORT = {{ config.db.port }}

# Redis
REDIS_HOST = {{ config.redis.host }}
REDIS_PASSWORD = 
REDIS_PORT = {{ config.redis.port }}

# Node
NODE_ENV = production

# Database specific
TYPEORM_SYNCHRONIZE = false
TYPEORM_DROP_SCHEMA = false
TYPEORM_LOGGING = ["warn", "error"]
TYPEORM_ENTITIES = packages/shared/dist/entity/*.js
TYPEORM_MIGRATIONS = packages/shared/dist/migration/*.js
