{
    "slack_hook": "{{ config.slackHook }}",
    "coin": "{{ config.coin }}",
    "to": "{{ config.to }}",
    "fiat": "{{ config.fiat }}",
    "ticker_alert_percentage": {{ config.tickerAlertPercentage }},
    "trade_min_amount": {{ config.tradeMinAmount }},
    "trade_min_percentage": {{ config.tradeMinPercentage }}
}
