TIPBOT_SLACK_TOKEN={{ config.slack_token }}
TIPBOT_RPC_HOST={{ config.wallet_host }}
TIPBOT_RPC_PORT={{ config.wallet_port }}
TIPBOT_RPC_USER={{ config.wallet_user }}
TIPBOT_RPC_PASSWORD={{ config.wallet_password }}
